.container
{
  height: 100%;
  width:100%;
  
  display:grid;
  grid-template-columns: 530px 530px;
  grid-template-rows: 1fr 2fr  ;
  grid-gap: 20px;
  
  
}

.zone
{
  text-align: center;
  border: 2px dotted skyblue;
  
  margin-top:50px;
  margin-bottom:30px;
  border-radius: 9px;
}

.t1{
  border-style: solid;
  width: fit-content;
 margin-left:420px;;

}

.fifthimage
{
  margin-left:260px;
}